
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pruebaApi.iml
.idea/vcs.xml
.idea/workspace.xml
venv/Lib/site-packages/certifi-2018.4.16.dist-info/DESCRIPTION.rst
venv/Lib/site-packages/certifi-2018.4.16.dist-info/INSTALLER
venv/Lib/site-packages/certifi-2018.4.16.dist-info/LICENSE.txt
venv/Lib/site-packages/certifi-2018.4.16.dist-info/METADATA
venv/Lib/site-packages/certifi-2018.4.16.dist-info/metadata.json
venv/Lib/site-packages/certifi-2018.4.16.dist-info/RECORD
